@model List<RepositorioDTO.DTO.ProductoDTO>
<h1 class="text-center">Products</h1>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p>
        <a asp-action="Crear" class="btn btn-success">Crear producto</a>
      </p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var item in Model)
          {
            <tr>
              <td>@Html.DisplayFor(modelItem=>item.Nombre)</td>
              <td>@Html.DisplayFor(modelItem=>item.Precio)</td>
              <td>
                <a asp-action="Editar" asp-route-id="@item.Id" class="btn btn-primary btn-sma">Editar</a>
                <a asp-action="Eliminar" asp-route-id="@item.Id" class="btn btn-danger btn-sma">Eliminar</a>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>